<!-- app/callendar/templates/callendar/_day_list_modal.html -->
<div class="modal fade" id="DayItemsModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <i class="bi bi-calendar-week me-2"></i>
          <span id="dayItemsTitle">Ден</span>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Затвори"></button>
      </div>
      <div class="modal-body">
        <div id="dayItemsList" class="list-group"></div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-secondary" data-bs-dismiss="modal">Затвори</button>
      </div>
    </div>
  </div>
</div>
